<div class="<%= "eight wide" if action_name == "show" %> column">
  <div class="ui fluid raised card card-text <%= "index-card" if action_name == "index" %>">
    <div class="content">
      <div class="header">
        <%= obj.username %>
      </div>
      <div class="description">
        <% if obj.description.nil? %>
          <em>No bio :(</em>
        <% elsif action_name == "index" %>
          <%= truncate(obj.description, length: 100) %>
        <% else %>
          <%= simple_format(obj.description) %>
        <% end %>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in
        <%= obj.created_at.year %>
      </span>
      <span class="left floated">
        <% if action_name == "index" %>
          <%= link_to "View", user_path(obj), class: "ui basic blue tiny button" %>
        <% else %>
          <%= link_to "Edit", edit_user_path(obj), class: "ui basic blue tiny button" if logged_in? && obj == current_user %>
        <% end %>
      </span>
    </div>
  </div>
</div>
