<div class="ui very padded segment raised">
  <%= render "shared/error_messages", obj: @user %>
  <%= form_with(model: @user, local: true, class: "ui form") do |f| %>
    <div class="<%= "required" if !logged_in? %> field">
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "Email address" %>
    </div>
    <div class="two fields">
      <div class="<%= "required" if !logged_in? %> eight wide field">
        <%= f.label :username %>
        <%= f.text_field :username, placeholder: "Username" %>
      </div>
      <div class="<%= "required" if !logged_in? %> eight wide field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
    </div>
    <% if logged_in? && current_user %>
      <div class="field">
        <%= f.label :description, "Biography" %>
        <%= f.text_area :description, rows: 3 %>
      </div>
    <% end %>
    <div>
      <%= f.submit(@user.new_record? ? "Sign Up" : "Submit", class: "ui blue button") %>
      <% if logged_in? && !@user.new_record? %>
        <%= link_to "Delete Account", user_path(@user), method: :delete, class: "ui red button right floated", data: { confirm: "Are you sure you want to delete account?" } %>
      <% end %>
      <% if action_name == "edit" %>
        <%= link_to "Cancel", user_path(@user), class: "ui grey button" %>
      <% else %>
        <%= link_to "Cancel", root_path, class: "ui grey button" %>
      <% end %>
    </div>
  <% end %>
</div>
