<div class="ui grey inverted menu">
  <div class="ui container">
    <%= link_to root_path, class: "item" do %>
      <i class="ui wechat icon"></i>
      Chatter
    <% end %>
    <div class="right menu">
      <%= link_to "Chatters", users_path, class: "item" %>
      <% if logged_in? %>
        <div class="ui dropdown item">
          <%= current_user.username %> <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to "My Account", user_path(current_user), class: "item" %>
            <%= link_to "Logout", logout_path, class: "item", method: :delete %>
          </div>
        </div>
      <% else %>
        <%= link_to "Login", login_path, class: "item" %>
        <div class="item">
          <%= link_to "Get Started", sign_up_path, class: "ui primary button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
